/* styles.css */
body {
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6eaf0; /* fundo azul acinzentado */
}

.container {
    text-align: center;
    background-color: #f8f9fc; /* fundo branco suave */
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #a2a9b8; /* borda fina azul acinzentada */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 380px;
    width: 100%;
    position: relative;
}

.icon {
    font-size: 2.5em;
    margin-bottom: 8px;
}

h1 {
    color: #4b6584; /* azul escuro vintage */
    font-size: 1.8em;
    margin-bottom: 5px;
}

.tagline {
    font-style: italic;
    color: #586776; /* azul acinzentado */
    margin-bottom: 15px;
}

label {
    color: #4b6584;
}

input[type="number"] {
    padding: 10px;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid #4b6584;
    border-radius: 5px;
    background-color: #f0f3fa;
    color: #333;
}

button {
    background-color: #4b6584;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3c506b;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
    color: #4b6584;
}
